<header class="main-header">
    <nav class="navbar navbar-static-top">



            {#<!-- Navbar Titre -->#}
            {#<div class="navbar-header">#}

            {#<ol class="breadcrumb">#}
            {#<li><a href="#">Home</a></li>#}
            {#<li><a href="#">Layout</a></li>#}
            {#<li class="active">Top Navigation</li>#}
            {#</ol>#}
            {#</div>#}
        <div class="container">
            <div class="navbar-brand">
                <span>
                                    <img id="logo-cube-small" src="{{ asset('assets/cube-m.png') }}"/>
                    {% if inAdmin %}<b>IHNI</b>&nbsp;Gestion des utilisateurs
                {% else %}<b>Cube</b>
                    {% endif %}
                </span>

            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Navbar Menu Login -->
            <div class="navbar-custom-menu">

                <!-- Bienvenue + nom de l'utilisateur -->
                <ul class="nav navbar-nav">
                    <li class="dropdown user-menu">

                        <span class="item">Bienvenue {{ app.user }} </span>

                    </li>

                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->

                        <!-- Bouton options -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Info utilisateur -->
                            <li class="user-header">

                                <p>
                                    {{ app.user }}
                                    <small>Créé le {{ app.user.createdAt|date('d M, Y') }}</small>
                                </p>

                                <p>Equipe
                                    {% for team in app.user.teamroles %}
                                        <small>{{ team.role.nom }} de {{ team.equipe.nom }}</small>
                                    {% endfor %}
                                </p>


                            </li>
                            <!-- Menu Body -->

                            <!-- Menu Footer-->
                            <li class="user-footer">

                                <div class="pull-right">
                                   <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Déconnexion</a>
                                </div>
                                {% if inAdmin %}
                                    <div class="pull-right"><a href="{{ path('team_table') }}" class="btn btn-default btn-flat">Cube</a>
                                    </div>
                                {% elseif is_granted('ROLE_ADMIN') or is_granted('TEAM_PILOT') %}

                                <div class="pull-right"><a href="{{ path('user_index') }}" class="btn btn-default btn-flat">IHNI</a></div>
                                {% endif %}

                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        {% if inAdmin %}
            {% include 'admin_header.html.twig' %}
        {% endif %}


    </nav>
    <!-- Navbar Top Menu -->


</header>