{% extends 'base.html.twig' %}
{% set inAdmin = true %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/plugins/datepicker/datepicker3.css') }}">


    <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/plugins/iCheck/all.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/plugins/select2/select2.min.css') }}">
{% endblock %}
{% block body %}
    <!-- Full Width Column -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->

            <!-- Main content -->
            <section class="content">

                <div class="row">

                    <div class="box box-primary">

                        <div class="box-header with-border">
                            <h3 class="box-title">Ajouter un utilisateur</h3>
                        </div>

                        <div class="box-body">
                            <!-- /.box-header -->
                            <!-- form start -->
                            {{ form_start(form) }}
                            {% if intention == 'create' or is_granted('ROLE_ADMIN') %}
                            {{ form_widget(form) }}
                        {% else %}
                        {{ form_row(form.prenom) }}
                        {{ form_row(form.nom) }}
                        {{ form_row(form.email) }}

                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Équipe</th>
                                    <th>Rôle</th>
                                    <th></th>
                                </tr>
                                {% for teamRole in user.teamRoles %}
                                    <tr>
                                        <td>{{ teamRole.equipe }}</td>
                                        <td>{{ teamRole.role }}</td>
                                        <td>
                                            {% if teamRole.equipe in app.user.pilote %}
                                            <a href="{{ path('equipe_edit', {'id': teamRole.equipe.id}) }}"
                                               class="btn btn-success">Éditer</a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}

                                {% endif %}
                                </tbody>
                            </table>
                            {{ form_row(form.activeAt) }}
                            {{ form_row(form.activeUntil) }}
                            <a href="{{ path('user_index') }}" class="btn btn-default">Annuler</a>
                            <input type="submit" value="Valider" class="btn btn-primary"/>

                            {{ form_end(form) }}
                        </div>


                    </div>

                </div>
            </section>
        </div>

    </div>

{% endblock %}
{% block javascripts %}

    <script src="{{ asset('assets/vendor/AdminLTE/plugins/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/AdminLTE/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('assets/vendor/AdminLTE/plugins/datepicker/locales/bootstrap-datepicker.fr.js') }}"></script>

    <script src="{{ asset('assets/vendor/AdminLTE/plugins/iCheck/icheck.min.js') }}"></script>
    <script src="{{ asset('js/embed_Collection_Form.js') }}"></script>

    <script>
        var isAdmin = false;

        {% if is_granted('ROLE_ADMIN') %}
        isAdmin = true;
        {% endif %}


        $(document).ready(function () {
            collectionFormInit('app_user_registration_teamRoles', 'une équipe');

            $('.datepicker').datepicker({
                autoclose: true,
                language: "fr",

                format: 'yyyy-mm-dd'


            });
        });

    </script>
{% endblock %}
