{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/plugins/datepicker/datepicker3.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/plugins/iCheck/all.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/plugins/select2/select2.min.css') }}">
{% endblock %}
{% block body %}
    <!-- Full Width Column -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->

            <!-- Main content -->
            <section class="content">

                <div class="row">

                    <div class="box box-primary">

                        <div class="box-header with-border">
                            <h3 class="box-title">Ajouter un utilisateur</h3>
                        </div>

                            <div class="box-body">
                                <!-- /.box-header -->
                                <!-- form start -->
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <a href="{{ path('user_index') }}" class="btn btn-default">Cancel</a>
                                <input type="submit" value="Create" class="btn btn-primary"/>
                                {{ form_end(form) }}
                            </div>


                    </div>

                </div>
            </section>
        </div>

    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/vendor/AdminLTE/plugins/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/AdminLTE/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('assets/vendor/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/AdminLTE/plugins/iCheck/icheck.min.js') }}"></script>

    <script>

        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
            //Date picker
            $('.datepicker').datepicker("show");
            $('.datepicker').datepicker({
                autoclose: true

            });

        })
    </script>
{% endblock %}
