{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/AdminLTE/plugins/select2/select2.min.css') }}"/>
{% endblock %}
{% block body %}
    <!-- Full Width Column -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#administration" data-toggle="tab" aria-expanded="true">Administration</a>
                                </li>
                                <li><a href="#modules" data-toggle="tab" aria-expanded="false">Modules</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="administration">
                                    <div class="">
                                        {#<form class="form" method="post">#}
                                        {#<div class="form-group">#}
                                        {#<label for="id_label_multiple">Administrateurs</label>#}
                                        {#<select class="select2 form-control" id="id_label_multiple" multiple="multiple">#}
                                        {#{% for user in users %}#}
                                        {#<option {% if user in admins %}selected="selected"{% endif %}>{{ user }}</option>#}
                                        {#{% endfor %}#}
                                        {#</select>#}
                                        {#</div>#}
                                        {#<div class="">#}
                                        {#<button type="submit" class="btn btn-primary">Enregistrer</button>#}
                                        {#</div>#}
                                        {#</form>#}
                                        {{ form_start(adminForm) }}

                                        {{ form_widget(adminForm) }}



                                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                                        {{ form_end(adminForm) }}
                                    </div>

                                </div>
                                <div class="tab-pane" id="modules">
                                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                                    Connecter un nouveau module
                                                </button>

                                                <table id="example1" class="table table-bordered table-striped dataTable">
                                                    {% include 'module/index.html.twig' %}
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Connecter un nouveau module</h4>
                        </div>
                        <div class="modal-body">
                            {% include 'module/new.html.twig' %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript"
    src="{{ asset('assets/vendor/AdminLTE/plugins/select2/select2.full.min.js') }}"></script>
    <script type="text/javascript">
        $('#auth_bundle_reglage_admin').select2();
        $('#authbundle_module_equipes').select2({
            placeholder: "Choisir les équipes qui utilisent le module",
            width: '100%',
        });

    </script>
    <!-- DataTables -->
    <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>

    <!-- page script -->
    <script>
        $(document).ready(function () {
            $('#example1').DataTable({
                "paging": false,
                "searching": false,

                columnDefs: [{
                        targets: [1],
                        "orderable": false
                    }]

            });
            $('a[data-toggle="tab"]').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            $('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
                var id = $(e.target).attr("href");
                localStorage.setItem('selectedTab', id),
            });

            var selectedTab = localStorage.getItem('selectedTab');
            if (selectedTab !== null) {
                $('a[data-toggle="tab"][href="' + selectedTab + '"]').tab('show');
            }
        });



    </script>
{% endblock %}