{% extends 'base.html.twig' %}

{% block body %}
    <!-- Full Width Column -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->

            <!-- Main content -->
            <section class="content">

                <div class="row">

                    <div class="box box-primary">

                        <div class="box-header with-border">
                            <h3 class="box-title">Ajouter une équipe</h3>
                        </div>

                        <div class="box-body">
                            <!-- /.box-header -->
                            <!-- form start -->

                            {{ form_start(edit_form) }}
                            {{ form_widget(edit_form) }}

                            <input type="submit" value="Create"/>
                            <input type="submit" value="Edit"/>
                            {{ form_end(edit_form) }}

                            <ul>
                                <li>
                                    <a href="{{ path('equipe_index') }}">Back to the list</a>
                                    <div> salut</div>
                                </li>
                                <li>
                                    {{ form_start(delete_form) }}
                                    <input type="submit" value="Delete">
                                    {{ form_end(delete_form) }}
                                </li>
                            </ul>
                        </div>


                    </div>

                </div>
            </section>
        </div>

    </div>

{% endblock %}
