{% extends 'tabindex.html.twig' %}

    {% block indextitre %}Liste des équipes{% endblock %}

    {% block addButton %}
        {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-default" href="{{ path('equipe_new') }}">
            <i class="fa fa-plus"></i> Ajouter une nouvelle équipe</a>
        {% endif %}
        {% endblock %}



        {% block innertable %}
        <thead>
            <tr>

                <th>Equipe</th>
                <th>Pilote</th>
                <th>Nb d'utilisateurs</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for equipe in equipes %}
            <tr>

                <td>{{ equipe.nom }}</td>
                <td>{{ equipe.pilote }}</td>
                <td>{{ equipe.teamRoles|length }}</td>
                <td style="width: 162px">
                    <a href="{{ path('equipe_show', {'id': equipe.id}) }}"
                       class="btn btn-default"><i class="fa fa-info"></i></a>
                    <a href="{{ path('equipe_edit', {'id': equipe.id}) }}"
                       class="btn btn-default"><i class="fa fa-pencil"></i></a>
                    <a href="#" class="btn btn-default disabled"><i class="fa fa-lock"></i></a>
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% endblock %}
{% block javascripts %}
    <!-- DataTables -->
    <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>

    <!-- page script -->
    <script>
        $(document).ready(function () {
            $('#example1').DataTable({
                "paging": false,
                "info": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                columnDefs: [{
                    targets: [3],
                    "orderable": false
                }]

            });
        });

    </script>
{% endblock %}